<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container ">
    <div class="text-center">
        <h1 class="display-1">404</h1>
        <h1 class="display-4">page not found</h1>
    </div>
    <div th:if="${errorMsg}">
        异常信息：
        <span th:text="${errorMsg}" class="text-danger text-center"></span>
    </div>

</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>